version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # ignore patch updates
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-patch"]
      - dependency-name: "typescript"
        update-types: ["version-update:semver-patch"]
